:root {
  --primary: #06bbcc;
  --light: #f0fbfc;
  --dark: #181d38;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 120px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 0px;
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar-light .navbar-nav {
    border-top: 1px solid #eeeeee;
  }
}
/* nav logo media queries */
nav img {
  width: 80px;
  height: auto;
}
@media (max-width: 500px) {
  nav img {
    width: 50px;
  }
}
@media (max-width: 450px) {
  nav img {
    width: 40px;
  }
}
@media (max-width: 300px) {
  nav img {
    width: 40px;
  }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  font-weight: 500;
}

.navbar-light.sticky-top {
  top: -100px;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .dropdown-menu.fade-down {
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    transform: rotateX(0deg);
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}
h2 {
  font-size: 24px;
}

@media (max-width: 576px) {
  .navbar-toggler {
    font-size: 14px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .navbar-toggler {
    font-size: 16px;
  }
}
@media (max-width: 380px) {
  h2 {
    font-size: 13px;
  }
}
@media (max-width: 440px) {
  .navbar-toggler {
    font-size: 11px;
  }
}

@media (min-width: 371px) and (max-width: 425px) {
  h2 {
    font-size: 16px;
  }
}

@media (min-width: 426px) and (max-width: 576px) {
  h2 {
    font-size: 20px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  h2 {
    font-size: 22px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  h2 {
    font-size: 24px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  h2 {
    font-size: 26px;
  }
}

@media (min-width: 1201px) {
  h2 {
    font-size: 28px;
  }
}

/*** Header carousel ***/
@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
    position: relative;
    min-height: 500px;
  }

  .header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  font-size: 22px;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.page-header {
  background: linear-gradient(rgba(24, 29, 56, 0.7), rgba(24, 29, 56, 0.7)),
    url(../img/carousel-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-inner {
  background: rgba(15, 23, 43, 0.7);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}

/* about read more */

/* rules and regulations */
.rules-list {
    list-style: none;
    padding-left: 0;
}

.rules-list li {
    position: relative;
    padding-left: 30px;
    font-size: 1.1rem;
}

.rules-list li::before {
    content: "\f058";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 4px;
    font-size: 1.2rem;
    color: #007bff; /* Change color as needed */
}


/* history */
.paragraph-heading {
  font-size: 2rem;
  padding-top: 50px;
}
/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.section-title::before {
  position: absolute;
  content: "";
  width: calc(100% + 80px);
  height: 2px;
  top: 4px;
  left: -40px;
  background: var(--primary);
  z-index: -1;
}

.section-title::after {
  position: absolute;
  content: "";
  width: calc(100% + 120px);
  height: 2px;
  bottom: 5px;
  left: -60px;
  background: var(--primary);
  z-index: -1;
}

.section-title.text-start::before {
  width: calc(100% + 40px);
  left: 0;
}

.section-title.text-start::after {
  width: calc(100% + 60px);
  left: 0;
}
@media (max-width: 500px) {
  .paragraph-heading {
    font-size: 1.2rem;
  }
}
/* gallery */

.galleryimage {
  border: 4px solid grey;
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: auto;
  display: block;
  width: 70%;
  max-width: 800px; 
  position: relative;
  z-index: 99999;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal img {
  max-width: 100%; /* Adjust the value as needed */
  height: auto;
}
@media screen and (max-width: 500px) {
  .modal{
    padding-top: 40vh;
  }

    .modal-content{
      width: 100%;
      padding: 1px;
    }
}
.blur-background {
  filter: blur(160px); 
}
.close {
    font-size: 70px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
    cursor: pointer;
    color: red;
}

@media screen and (max-width: 768px) {
    .close {
        font-size: 50px;
        top: 220px;
    }
}


/* gallery end */

/*** Service ***/
.service-item {
  background: var(--light);
  transition: 0.5s;
}

.service-item:hover {
  margin-top: -10px;
  background: var(--primary);
}

.service-item * {
  transition: 0.5s;
}

.service-item:hover * {
  color: var(--light) !important;
}

/*** Categories & Courses ***/
.category img,
.course-item img {
  transition: 0.5s;
}

.category a:hover img,
.course-item:hover img {
  transform: scale(1.1);
}
.cards-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icon-centered {
  font-size: 40px;
}
/* total students */

.students-card span {
  font-size: 4rem;
  font-weight: bold;
}

.students-card h2 {
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 0;
}

/* Media queries for adjusting text size */
@media (max-width: 576px) {
  .students-card span {
    font-size: 1.5rem;
  }

  .students-card h2 {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  .students-card span {
    font-size: 1.5rem;
  }

  .students-card h2 {
    font-size: 0.6rem;
  }
}

/* poster */
#posterimg {
  height: 322px;
  max-width: 100vw;
  display: block;
  margin: 0 auto;
}
/* Media queries for adjusting height */
@media (max-width: 410px) {
  #posterimg {
    height: 60vh;
  }
}

/* shedules */
.card {
  background-color: #cbedef;
}

/*** Testimonial ***/
.testimonial-carousel::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}

.testimonial-carousel::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}

@media (min-width: 768px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 300px;
  }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
  background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
  color: #ffffff !important;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #cccccc;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}
/* forms cards */
.forms-card p {
  color: #52565b;
}
/* @media (max-width: 1004px) {
  .inside-forms{
   height: 3926;
  }
} */
/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  font-weight: normal;
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
/* map */
@media (max-width: 575.98px) {
  iframe {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  iframe {
    width: 100%;
    height: 250px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  iframe {
    width: 100%;
    height: 300px;
  }
}
